
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey" style="border:1px solid #E5E5E5;">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.Title
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Selling Price</th>
                            <th>Discount</th>
                            <th>Qty</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                            <th>Sale Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.vats)
                        {
                            <tr>
                                <td>@item.ProductCode</td>
                                <td>@string.Format("{0:C}", item.SellingPrice).Trim('$')</td>
                                <td>@string.Format("{0:C}", item.Discount).Trim('$')</td>
                                <td>@item.Qty</td>
                                <td>@string.Format("{0:C}", item.TaxValue).Trim('$')</td>
                                <td>@string.Format("{0:C}", item.SoldPrice).Trim('$')</td>
                                <td>@item.DateSold.ToString("dd/M/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

