
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey" style="border:1px solid #E5E5E5;">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.Titlee
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Order Price</th>
                            <th>Qty</th>
                            <th>Total Price</th>
                            <th>Receiving Date</th>
                            <th>PO</th>
                            <th>Supplier</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.receivings)
                        {
                        <tr>
                            <td>@item.ProductCode</td>
                            <td>@item.ProductName</td>
                            <td>@item.Description</td>
                            <td>@item.CategoryName</td>
                            <td>@item.BrandName</td>
                            <td>@string.Format("{0:C}", item.OrderPrice).Trim('$')</td>
                            <td>@item.Qty</td>
                            <td>@string.Format("{0:C}", item.SoldPrice).Trim('$')</td>
                            <td>@item.ReceivingDate.ToString("dd/M/yyyy")</td>
                            <td>@item.PurchaseOrder</td>
                            <td>@item.Supplier</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

