@{
    ViewBag.Title = "Dashboard";
}
<div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewBag.products
                </div>
                <div class="desc">
                    Products
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat grey">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewBag.categories
                </div>
                <div class="desc">
                    Categories
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewBag.brands
                </div>
                <div class="desc">
                    Brands
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewBag.shops
                </div>
                <div class="desc">
                    Shops
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    @ViewBag.suppliers
                </div>
                <div class="desc">
                    Suppliers
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard-stat grey">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">
                    00
                </div>
                <div class="desc">
                    Customers
                </div>
            </div>
            <a class="more" href="">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>


